.container {
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.btn {
    cursor: pointer;
    width: 100%;
    margin: 20px auto;
}

.center{
    margin: auto;
    width: 50%;
}

.container-form{
    margin: auto;
    width: 50%;
}

.container-output{
    margin: auto;
    width: 50%;
}

form.form-wrap {
    display: table;
    margin: auto;
    width: 50%;
}

div.form-wrap-row {
    display: table-row;
}

label, .int {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto;
    width: 50%;
}

.styled-table thead tr {
    background-color: #090021;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}